.home-container {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.935);
  color: white;
}

ul {
  list-style-type: none;
}

.logo {
  height: 50px;
}

nav {
  margin: 2em 1em;
  font-size: 1.1em;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.movie-card {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.movie-card img {
  max-width: 100%;
  border-radius: 8px;
}

.actors-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 20px;
}

.actor-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s;
}

.actor-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.actor-image {
  width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.actor-name {
  font-size: 16px;
  font-weight: bold;
}

.pagination__area,
.actors__header h1 {
  display: flex;
  justify-content: center;
}

.actors__header input {
  position: absolute;
  right: 2em;
  top: 7em;
}
